<!-- app/views/restaurants/index.html.erb -->
<h1>All Restaurants</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>

<p>Number of restaurants: <%= @restaurants.size %></p>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.phone_number %></td>
        <td><%= restaurant.category %></td>
        <td>
          <%= link_to 'Show', restaurant_path(restaurant), class: 'btn btn-info' %>
          <%= link_to 'Edit', edit_restaurant_path(restaurant), class: 'btn btn-warning' %>
          <%= link_to 'Destroy', restaurant_path(restaurant), data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Restaurant', new_restaurant_path, class: 'btn btn-primary' %>
